<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Bookings</title>
    <link rel="stylesheet" th:href="@{/styles/table.css}">
</head>
<body>

<h1>All Bookings</h1>

<div class="actions">
    <a class="button" th:href="@{/booking/add}">Add Booking</a>
    <a class="button secondary" th:href="@{/home}">Back to Home</a>
</div>

<table>
    <thead>
    <tr>
        <th>Watcher</th>
        <th>Showtime</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.watcher.name}">Watcher Name</td>
        <td th:text="${booking.showtime.dateTime}">Showtime</td>

    </tr>
    </tbody>
</table>

</body>
</html>

